/* Head */
body{
	font-family: "Verdana";
}

.navbar-brand{
	font-family: 'Roboto', sans-serif;
	width: 20%;
	height: 40%;
}

#lanternLogo{
	width: 35%;
	height: 35%;
	padding: 10px;
	margin-left: 20px;
}

.navbar-brand b {
	margin-left: 20px;
	font-size: 25px;
}

.book-img-01 {
    position: absolute;
    right: 10%;
    /* bottom: -30%; */
    width: 800px;
    height: 740px;
    background-color: #efefef;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.book-img-02 {
    position: absolute;
    left: 10%;
    /* bottom: -30%; */
    width: 700px;
    height: 640px;
    background-color: #efefef;
    border-radius: 21px;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

.banner-images {
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}

/* Body */
.container-fluid {
	background-color: #f5f5f5;
	width: 100%;
	height: 100%;
}

#index-banner {
	margin-top: 1rem!important;
	margin-bottom: 1rem!important;
}

#topRow {
	font-family: 'Roboto', sans-serif;
	margin-top: 0rem!important;
	margin-left: 0rem!important;
	margin-right: 0rem!important;
	margin-bottom: 1rem!important;
}

#footer {
	background-color: #f8f9fa;
  	position: block;
 	bottom: 0;
  	width: 100%;
  	height: 1.5rem;            /* Footer height */
  	text-align: center;
  	font-size: 13px;
  	padding-top: 2px;
}
