/* Head */
body{
	font-family: "Verdana";
}

.container-fluid {
	background-color: #f5f5f5;
}

.btn-success{
    background-color: #FFF
    text-color:black;
    padding 10px;
    text-align: center;
    font-size: 16px;

}

/* Body */
#midColumn{
	margin-top: 20px;
}

#midColumn input {
	width: 60%;
	margin: 4px;
}

#midColumn textarea {
	width: 60%;
	margin: 4px;
}

#characterInputBoxes{
	width: 80%;
  clear: both;
  text-align: right;
  margin: 5px;
	margin-left: 10%;
}

#characterInputBoxes em{
  	margin: 5px;
  	padding-left: 20px;
  	clear: both;
  	text-align: right;
  	float: left;

}

#locationInputBoxes{
	width: 80%;
  clear: both;
  text-align: right;
  margin: 5px;
	margin-left: 10%;
}

#locationInputBoxes em{
  	margin: 5px;
  	padding-left: 20px;
  	clear: both;
  	text-align: right;
  	float: left;

}

#locationInputBoxes select{
  width: 60%;
  clear: both;
  text-align: right;
  margin: 5px;
  margin-left: 10%;
}

#eventInputBoxes{
	width: 80%;
  clear: both;
  text-align: right;
  margin: 5px;
	margin-left: 10%;
}

#eventInputBoxes em{
  	margin: 5px;
  	padding-left: 20px;
  	clear: both;
  	text-align: right;
  	float: left;
}



#footer {
  background-color: #f5f5f5;
  position: block;
  bottom: 0;
  width: 100%;
  height: 1.5rem;            /* Footer height */
  text-align: center;
  font-size: 13px;
  margin-top: 20px;
}
