/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

.container-fluid {
	background-color: #f5f5f5;
}

.navbar-brand{
  font-family: 'Roboto', sans-serif;
  width: 20%;
  height: 40%;
}

#lanternLogo{
  width: 35%;
  height: 35%;
  padding: 10px;
  margin-left: 20px;
}

.navbar-brand b {
  margin-left: 20px;
  font-size: 25px;
}

#login-section {
  width: 80%;
  font-size: 15px;
  text-align: center;
}

/* Full-width inputs */
#username-input, #password-input {
  width: 35%;
  height: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;

}

/* Set a style for all buttons */
#login-button, #logout-button {
  background-color: #4CAF50;
  text-align: center;
  color: white;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
